{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
 {% block extra_css %}
 <link href="{% static 'css/mycss.css' %}" rel="stylesheet">
  {% endblock extra_css %}
{% block content %}
    <div class="col-sm-6"><!--remove this div if you want textbox long upto right extreme-->
    <div class="content-section">
      <div class="media">
        
         <img src="{{ user.profile.image.url}}" class="rounded-circle account-img" width="165" height="170"> 
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="media-body">
          <h2 class="account-heading">{{ user.email }}</h2>
         
          
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
  </div>
{% endblock content %}